# Python
__pycache__/
*.pyc

# Logs
logs/
*.log

# Data & Models
data/
dataset/
checkpoints/
weights/
runs/
output/

# Jupyter
.ipynb_checkpoints/

# OS 文件
.DS_Store

# Virtual Envs
venv/
.venv/
env/
